<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674920697817-2o88lhtsuj47vlomng1ei08giapvk889.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674920697817-2o88lhtsuj47vlomng1ei08giapvk889</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674920697817-tq5rk5t85unfrk08j5vn6jm99dldno3e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1mA0C_UrP2ne18QUFMjGO-iXKlduAdPM</string>
	<key>GCM_SENDER_ID</key>
	<string>674920697817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-188fe</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-188fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674920697817:ios:b2ff792e77b4fbcb7d13c8</string>
</dict>
</plist>